h1 {
    color: #353535;
    font: bold 1.5em sans-serif;
    text-align: center;
    margin-top: 35px;
}
.loginbox {
    margin: 16px 110px 0px 0px;
    width: 200px;
    height: 27px;
}
.loginbox2 {
    margin: 4px 110px 0px 0px;
    width: 200px;
    height: 27px; 
}
#idbox {
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;	
}
#imbox {
    position: absolute;
    top: 0%;
    left: 560px;
}
ul {
    text-align: center;
    margin: 5px 10px 0px 0px ;
}
li {
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font: 0.8em /20px sans-serif;
    color: #353535;
}
a {
    text-decoration: none; 
    font: 1.0em /20px sans-serif;
    color: #353535; 
}
#p1 {
    display: inline-block;
    margin: 0px 5px 0px 5px ;
}
.l2 {
    margin: 0px 140px 0px 0px;
}

.jobox {
    text-align: center;
    vertical-align: top;
}
.jobt img {
    width: 90px;
    height: 25px;
    margin: 0px 0px 4px 0px;
}
.pji {
    color: #353535;
    font:  1.0em /20px sans-serif;
    margin: 10px 3px 0px 0px;
    text-align: center;
    display: inline-block;
}
.jobt {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    display: inline-block;
}
hr {
    width: 380px;
}