/* 통합 */
body {
    margin: 0px;
    padding: 0px;
}
#box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.wrap{
    width: 1200px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;    
    color: #757575;
}


/* header */
header {
    height: 50px;
    text-align: left;
}
#hd {
    display: table-cell;
    vertical-align: bottom;
}
#mainh1 {
    margin-top: 30px;
    margin-left: 12px;
}
.lh {
    color: #353535;
    font: bold 1.3em sans-serif;
}

/* topmenu */
nav {
    height: 40px;
}
#topmenu {
    float: right;
}
nav ul {
    text-align: right;
}
nav li {
    margin: 0px 10px;
    display: inline-block;
    font: bold 0.9em /20px sans-serif;
}

/* left sideMenu */
#Lside {
    margin: 40px 0px 0px 3px;
    width: calc(14% - 6px);
    height: 850px;
    float: left;
}
span {
    font: bold 1.2em sans-serif;
}

#brandMenu {
    margin: 0px;
    padding: 10px 0px 12px 10px;
    
}
#brandMenu li:hover {
    text-decoration: none;
}
#brandMenu li:visited {
    text-decoration: none;
}

#brandMenu li {
    list-style: none;
    margin: 0px 0px 12px 0px;
    font: bold 0.9em /20px sans-serif;
}

/* section */
section {
    margin: 3px;
    width: calc(86% - 6px);
    height: 1000px;
    float: left;
}
#area {
    position: relative;
    width: 100%;
}
iframe {
    position: absolute;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

/* footer */
footer {
    margin: 0%;
    height: 55px;
    padding: 10px 0px 10px 0px;
    background-color: white;
    text-align: center;
    clear: both;
}
.footpre {
    margin: 3px;
    color: #353535;
    font: 0.7em /15px sans-serif;
}