h1 {
    margin: 30px 30px 35px 7px;
    color: #353535;
    font: 2.4em /15px sans-serif;
}
li {
    color: #353535;
    font: 1.0em sans-serif;
}
p {
    color: #353535;
    font: 1.0em sans-serif;
}
