img {
    width: 320px;
    height: 340px;
    margin: 5px;
}

h1 {
    margin: 30px 30px 35px 7px;
    color: #353535;
    font: 2.4em /15px sans-serif;
}

.t1 {
    margin-bottom: 30px;
}

.pti {
    margin: 5px;
    text-align: center;
    color: #353535;
    font: 0.8em /15px sans-serif;
}
.pcon {
    margin: 5px;
    text-align: center;
    color: #353535;
    font: 0.7em /15px sans-serif;
}

pre {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #353535;
    font: 0.8em /15px sans-serif;
}